*,
*::before,
*::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Quattrocento Sans', sans-serif; */
body {
  font: 15px/22px "Open Sans", sans-serif;
  font-weight: 400;
  min-width: 1140px;
  margin: auto;
}
.header-wrapper {
  width: 100%;
  height: 80px;
  background: #1d2126;
}
.header {
  width: 1140px;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  padding-bottom: 5px;
}
.navigation li {
  margin-left: 16px;
}
.navigation li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #a4aead;
  padding: 2px 10px 6px 10px;
  border: 2px solid transparent;
}
.navigation li a:hover {
  padding: 2px 10px 6px 10px;
  border: 2px solid #5b6168;
  border-radius: 4px;
}
.navigation .active a {
  color: #23b7a4;
  border: 2px solid #23b7a4;
  border-radius: 4px;
}
.navigation .active a:hover {
  border: 2px solid #23b7a4;
}
.gallery-wrapper img {
  display: block;
  width: fit-content;
  height: 660px;
}
.gallery-wrapper {
  width: 100%;
  height: 660px;
  position: relative;
}
/* .gallery-wrapper li {
  height: 660px;
  overflow: hidden;
} */
.info-market {
  position: absolute;
  bottom: 0;
  width: 1140px;
  height: 660px;
  margin: auto;
  display: flex;
  align-items: center;
}
.market-text {
  width: 650px;
  margin: auto;
}
.market-text h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  line-height: 42px;
  color: #ffff;
  padding-bottom: 14px;
  letter-spacing: -2.09px;
}
.market-text p {
  font-size: 16px;
  line-height: 25px;
  color: #ccd0d7;
  padding-bottom: 49px;
}
.market-text a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  color: #ffff;
  padding: 13px 21px 12px 22px;
  border: 2px solid #ffff;
  border-radius: 4px;
}
.more {
  margin-right: 6px;
}
.market-text a:hover {
  background: #23b7a4;
  border: 2px solid #23b7a4;
  border-radius: 4px;
}
.splide__arrows {
  display: none;
}
.splide__pagination {
  display: inline-flex;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0px;
  position: absolute;
  bottom: 0;
}
.splide__pagination__page {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #ffff;
  background: none;
  cursor: pointer;
}
.is-active {
  background: #ffff;
}
.splide__pagination li {
  display: block;
  margin: 0px 5px 30px 0px;
  cursor: pointer;
}
